@charset "UTF-8"

*{
    font-family: arial, helvetica, sans-serif;
    height:100%;
}
body{
    background-image: linear-gradient(to right,#239DFA,#14C0E3);
}
main{
    background-color: white;
    border-radius:10px;
    box-shadow:5px 5px 15px #0b859d9b;
    width:600px;
    padding:10px;
    margin:auto;
}
h1{
    color: #1720FD;
    text-align: center;
    text-shadow: 1px 1px 2px #1218bcac;
}
h2{
    color:#239DFA;
}
p{
    text-align:justify;
}